In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Check for missing values
na_counts = df.isna().sum()
print(na_counts)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Determine the number of rows and columns
rows, columns = df.shape

# Print the results
print(f"The dataset has {rows} rows and {columns} columns.")

The dataset has 800 rows and 12 columns.

In [ ]:
Within the dataset, an observation denotes a single record or data point. A data table's rows are each observations.An trait or characteristic that changes in value depending on the observations is called a variable. In a data table, a variable is represented by each column.

In [3]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Display basic information about the dataset (data types, null values, etc.)
print("Dataset Information:")
df.info()

# Display summary statistics for numerical columns
print("\nSummary Statistics:")
print(df.describe())

# Display the first 5 rows of the dataset
print("\nFirst 5 Rows:")
print(df.head())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

Summary Statistics:
                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

First 5 Rows:
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [4]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Show the size of the dataset (total rows and columns)
print("Dataset Size (df.shape):")
print(df.shape)

# Show summary statistics for numeric columns
print("\nSummary Statistics (df.describe()):")
print(df.describe())

# Include non-numeric columns in the description
print("\nSummary of All Columns (df.describe(include='all')):")
print(df.describe(include='all'))

Dataset Size (df.shape):
(800, 12)

Summary Statistics (df.describe()):
                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

Summary of All Columns (df.describe(include='all')):
                 #       Name Type 1  Type 2          HP      Attack  \
count   800.000000        800    800     414  800.000000  800.000000
unique         NaN        800     18      18         NaN         NaN
top            NaN  Bulbasaur  Water  Flying         NaN         NaN
freq           NaN          1    112      97         NaN         NaN
mean    362.813750        NaN    NaN     NaN   69.258750   79.001250
std     208.343798        NaN    NaN     NaN   25.534669   32.457366
min       1.000000        NaN    NaN     NaN    1.000000    5.000000
25%     184.750000        NaN    NaN     NaN   50.000000   55.000000
50%     364.500000        NaN    NaN     NaN   65.000000   75.000000
75%     539.250000        NaN    NaN     NaN   80.000000  100.000000
max     721.000000        NaN    NaN     NaN  255.000000  190.000000

           Defense     Sp. Atk     Sp. Def       Speed  Generation Legendary
count   800.000000  800.000000  800.000000  800.000000   800.00000       800
unique         NaN         NaN         NaN         NaN         NaN         2
top            NaN         NaN         NaN         NaN         NaN     False
freq           NaN         NaN         NaN         NaN         NaN       735
mean     73.842500   72.820000   71.902500   68.277500     3.32375       NaN
std      31.183501   32.722294   27.828916   29.060474     1.66129       NaN
min       5.000000   10.000000   20.000000    5.000000     1.00000       NaN
25%      50.000000   49.750000   50.000000   45.000000     2.00000       NaN
50%      70.000000   65.000000   70.000000   65.000000     3.00000       NaN
75%      90.000000   95.000000   90.000000   90.000000     5.00000       NaN
max     230.000000  194.000000  230.000000  180.000000     6.00000       NaN

In [ ]:
Attributes: These are characteristics or values connected to an item. Parentheses are not needed in order to access them. For instance, if you're using pandas, df.shape in a DataFrame delivers the DataFrame's dimensions as a tuple. Because it only obtains data without taking any further action, it qualifies as an attribute.

Methods are functions that carry out activities and are connected to an object. Parentheses must be called on them. For instance, the DataFrame's statistical summary information is returned by df.describe(). Because it computes something and outputs the result, it is a method.

In conclusion, methods must be called in parenthesis in order to be executed, whereas attributes can be accessed directly.

In [ ]:
Count: The number of non-null entries for each variable. It shows how many values are present for each column.

Mean: The average value of the variable. It is calculated by summing all the values and dividing by the count of the values.

Std (Standard Deviation): A measure of the amount of variation or dispersion in the values. It indicates how much the values deviate from the mean. A high standard deviation means values are spread out over a wider range.

Min: The minimum value in the variable. It represents the smallest value observed.

25% (25th Percentile or First Quartile): The value below which 25% of the observations fall. It is the first quartile, which separates the lowest 25% of the data from the rest.

50% (50th Percentile or Median): The middle value of the variable when the data is sorted. Half of the values fall below this point, and half fall above it. It is also known as the median.

75% (75th Percentile or Third Quartile): The value below which 75% of the observations fall. It is the third quartile, which separates the lowest 75% of the data from the highest 25%.

Max: The maximum value in the variable. It represents the largest value observed.

In [11]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
}

df = pd.DataFrame(data)

In [12]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
}

df = pd.DataFrame(data)

In [ ]:
1. Efficiency
Memory and Performance: If a column contains a large number of missing values or if the column itself is very large, it can consume significant memory and processing power when performing operations like df.dropna(). Removing such columns first with del df['col'] can reduce the size of the DataFrame, making the dropna() operation more efficient and faster.
2. Relevance of Data
Irrelevant Columns: If a column is deemed irrelevant or unnecessary for the analysis, removing it before applying df.dropna() ensures that you are not spending resources on cleaning data that you don't need. For instance, if a column is completely irrelevant to your analysis, itâ€™s better to remove it beforehand.
3. Impact on Results
Avoiding Unintended Consequences: If you run df.dropna() without removing certain columns, you might end up dropping rows that could be important for your analysis because those columns are causing rows to be removed. By deleting irrelevant columns first, you ensure that the dropna() operation is performed on a more focused set of columns, thus avoiding unintended data loss.
4. Data Integrity
Preserving Important Data: By removing columns that are not useful or are mostly filled with missing values before running dropna(), you prevent the potential issue of dropping rows that might still have valuable information in the remaining columns.

In [13]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [np.nan, np.nan, np.nan, 4],
    'D': [10, 20, np.nan, 40]
}

df = pd.DataFrame(data)

In [ ]:
     A    B    C     D
0  1.0  5.0  NaN  10.0
1  2.0  NaN  NaN  20.0
2  NaN  7.0  NaN   NaN
3  4.0  8.0  4.0  40.0
     A    B     D
0  1.0  5.0  10.0
3  4.0  8.0  40.0

In [16]:
import pandas as pd

# Load Titanic dataset (example dataset URL)
url = 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv'
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [17]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [np.nan, np.nan, np.nan, 4],
    'D': [10, 20, np.nan, 40]
}

df = pd.DataFrame(data)
print(df.describe())

              A         B    C          D
count  3.000000  3.000000  1.0   3.000000
mean   2.333333  6.666667  4.0  23.333333
std    1.527525  1.527525  NaN  15.275252
min    1.000000  5.000000  4.0  10.000000
25%    1.500000  6.000000  4.0  15.000000
50%    2.000000  7.000000  4.0  20.000000
75%    3.000000  7.500000  4.0  30.000000
max    4.000000  8.000000  4.0  40.000000

In [18]:
# Sample DataFrame with an additional categorical column
data = {
    'Pclass': [1, 2, 2, 3],
    'Age': [22, np.nan, 26, np.nan]
}

df = pd.DataFrame(data)
print(df.groupby("Pclass")["Age"].describe())

        count  mean  std   min   25%   50%   75%   max
Pclass
1         1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0
2         1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0
3         0.0   NaN  NaN   NaN   NaN   NaN   NaN   NaN

In [ ]:
yes